<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app.cc">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Movie search</title>
</head>
<body>
<div class="background"></div>
<div class="bgFilter"></div>
<div class="brandSite"> <a href="#" class="brand"> Easy search for a movie</a></div>

<div class="container">
    <p class="search">Search a Movie</p>
    <form action="/results" method="GET">
        <input type="text" placeholder="Enter Movie title" name="movie" required>
        <input type="Submit" value="Find">
    </form>
</div>
</body>
</html>